section {
  margin: 15px;
}

.contact {
  color: black;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

img-#background {
  margin: 0;
  width: 100%;
  height: auto;
}

.external-link {
  font-family: var(--sans);
  color: black;

  &:hover {
    color: var(--logo-green);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}

#mission {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--logo-green);
  }
}

#pricing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  /* @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  } */

  > div {
    background-color: var(--logo-creme);
    border: 2px solid var(--logo-gold);
    border-radius: 10px;
    /* box-shadow:
      0 10px 25px -5px rgba(0, 0, 0, 0.2),
      0 8px 16px -6px rgba(0, 0, 0, 0.05); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    gap: 5px;

    transform: scale(1);
    transition:
      transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
      box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow:
        0 10px 25px -5px rgba(0, 0, 0, 0.05),
        0 8px 16px -6px rgba(0, 0, 0, 0.05);
    }

    h2 {
      margin: 0;
    }

    span {
      font-size: 16px;
    }
  }
}

#spacer {
  height: 88px;

  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  border-top: 2px solid var(--logo-gold);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -5.6px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--color-soft-white);
  }

  &::after {
    right: 0;
    border-right-color: var(--color-soft-white);
  }
}
