section {
  margin: 15px;
}

.logo {
  width: 400px;
  height: auto;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  color: black;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.external-link {
  font-family: var(--sans);
  color: black;

  &:hover {
    color: var(--logo-green);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}

#mission {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--logo-green);
  }
}

#pricing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }

  > div {
    background-color: var(--color-creme);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 5px;

    h2 {
      margin: 0;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);

  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;
  border-top: 2px solid var(--color-creme);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--color-creme);
  }

  &::after {
    right: 0;
    border-right-color: var(--color-creme);
  }
}
